h1 {
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    color: #2b2a2a;
}

h2 {
    font-family: 'YourSecondFont', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}