<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

    <h1>Quiz</h1>
    <h2>Choose the best answer among the choices</h2>

    <form action="/submit" method="post">
        {% for question in questions %}
            <div>
                <p>{{ question['content'] }}</p>
                {% for option in question['options'] %}
                    <label>
                        <input type="radio" name="q{{ question['id'] }}" value="{{ option['letter'] }}">
                        {{ option['content'] }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="hidden" name="user_id" value="1"> <!-- You can replace '1' with the actual user ID -->
        <button type="submit">Submit Answers</button>
    </form>

</body>
</html>