<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

    <h1>Quiz</h1>
    <h2>Choose the best answer among the choices</h2>

    <form action="/electronics" method="post">
        {{ form.csrf_token }}
    
        {% for question in form %}
        <div>
            <p>{{ question.label.text['content']}}</p>
                {% for option in question.choices %}
                    <label>
                        <input type="radio" name="q{{ question.label.text['id'] }}" value="{{ option['letter']}}"> <!-- This is for user input choice -->

                        {{ option['content']}} <!-- This is to display the choices-->
                    </label><br>
                {% endfor %}
                {% if question.errors %}
            <div class="invalid-feedback">
                {% for error in question.errors %}
                <span>{{ error }}</span><br>
                {% endfor %}
            </div>
            {% endif %}
                    
        </div>
        {% endfor %}
       
        <br>
        <button type="submit">Submit Answers</button>
    </form>

</body>
</html>