<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Feed</title>
    <style>
        body, html {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .quiz-post {
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
            width: 300px;
            height: 100px;
            margin-top: 2%;
            text-align: center;
        }
    </style>
</head>
<body>

    <tbody>
        {%if result_list%}
         {%for result in result_list%}
        <div class="quiz-post">
           <span>{{result['username']}} answer {{result['subject']}} quiz</span> <br>
           <span>Score: {{result['score_pct']}}%</span> 
           <span>Posted: {{result['difference']}} ago</span>
        </div>
        {%endfor%}
        {%endif%}
    </tbody>
    {%if message%}
        <p>{{message}}</p>
    {%endif%}
</body>
</html>
