<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/main.css">

    <style>
        body, h1, h2, ol, form, p, label {
            margin: 5px;
            padding-left: 6px;
        }
        .form-control {
            width: 200px; /* Adjust this value to change the length of the input fields */
        }
        .content-section {
    max-width: 400px; /* Adjust this value to change the maximum width of the form */
    margin: 1 auto; /* This will center the form horizontally */
        }

        a.ml-2 {
   
   text-decoration: none; /* Remove underline from anchor tags */
   font-size: 15px; /* Set the font size */
   color: #124ad7; /* Set the text color */
       }

    </style>
    
</head>

<body>

    <h1>Register</h1>
   
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Signup Now</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {%for error in form.username.errors %}
                         <span> {{error}}</span>       
                        {%endfor%}
                    </div>
                    {%else%}
                        {{ form.username(class="form-control form-control-lg") }} 
                    {%endif %}
        
                </div>
                <br>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {%for error in form.email.errors %}
                         <span> {{error}}</span>       
                        {%endfor%}
                    </div>
                    {%else%}
                        {{ form.email(class="form-control form-control-lg") }} 
                    {%endif %}
        
                </div>
                <br>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {%for error in form.password.errors %}
                         <span> {{error}}</span>       
                        {%endfor%}
                    </div>
                    {%else%}
                        {{ form.password(class="form-control form-control-lg") }} 
                    {%endif %}
        
                </div>
                <br>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}

                    {% if form.confirm_password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                        {%for error in form.confirm_password.errors %}
                         <span> {{error}}</span>       
                        {%endfor%}
                    </div>
                    {%else%}
                        {{ form.confirm_password(class="form-control form-control-lg") }} 
                    {%endif %}
        
                </div>
                <br>
                
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <br>
            <div>
                <small class="text-muted">
                    <a class="ml-2" href="{{ url_for('login') }}">Already have an account? Click here to login</a>
                </small>
            </div>
        </form>

     
    </div>
    
    

</body>
</html>